.header {
  background-color: rgb(22, 22, 22);
  height: 200px;
  text-align: center;
  padding: 5rem 1rem;
  color: whitesmoke;
  font-size: 100px;
}

.aboutme {
  text-align: center;
  color: whitesmoke;
  background-color: #008080;
  padding: 1rem 3rem 2rem 3rem;
}

a {
  color: white;
}

.description {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

hr {
  width: 70%;
  height: 2px;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
}