li {
  list-style-type: none;
  display: flex;
  background-color: rgb(53, 53, 53);
  border-radius: 2px;
  margin: 1.5rem 1rem;
  justify-content: space-between;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: relative;
  animation-duration: 0.3s;
  animation-iteration-count: once;
  transform-origin: bottom;
}

.wordbox {
  flex-grow: 1;
  color: whitesmoke;
  padding-left: 1rem;
}

.wordbox h3 {
  font-size: 20px;
}

.imgbox {
  width: 150px;
  height: 150px;
  display: grid;
}

.imgbox img {
  width: 120px;
  height: 120px;
  align-items: center;
  padding: 15px;
  margin: auto;
}

li:hover,
li:active {
  background-color: #005f5f;
}

.bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}
